.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #373737;
  white-space: pre-wrap;
}

.GFA {
  margin-left:auto;
  padding-right: 10px;
  float: right;
  min-width: 608px;
  max-width: 608px;
}

.Table {
  flex-grow: 1;
  min-height: 0;
  overflow: scroll;
  margin-left: 10px;
  float: left;
}

.Buttons {
  margin-left: auto;
  padding: 5px;
}
