.App {
  text-align: center;
  color: #1c313a;
  white-space: pre-wrap;
}

.GFA {
  padding-right: 10px;
  padding-bottom: 5px;
  float: right;
}

.Table {
  padding-left: 10px;
  float: left;
}

.Button {
  float: bottom;
}
