.App {
  overflow: auto;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content 1fr min-content;
  text-align: center;
  color: #373737;
  white-space: pre-wrap;
}

.GFAcontainer {
  max-width: 758px;
  max-height: 609px;
}

.GFA {
  display: flex;
  width: auto;
  height: 100%;
}

.Table {
  grid-row: 1/-1;
  min-height: 0;
  height: auto;
}

.Buttons {
  display: flex;
  padding: 5px;
}
